@media (min-width: 992px) {
  /* Move the article TOC to the left side to avoid overlap */
  .template-article > .row {
    flex-direction: row-reverse;
  }

  .template-article > .row > main#main {
    padding-left: 1.25rem;
    padding-right: 0.5rem;
  }

  .template-article > .row > aside {
    padding-right: 1rem;
  }
}
